@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.blank {
  padding-top: 80px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 700px;
  padding: 0px 400px 40px 400px;
}

.product-card {
  height: 300px;
  width: 200px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid lightgray;
  /* box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.4); */
}

.product-card:hover {
  transition: 0.3s ease;
  transform: scale(1.01);
}

.product-card > img {
  height: 200px;
  width: 200px;
  border-radius: 5px 5px 0 0;
}

.product-card > p {
  margin-left: 5px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination-btn {
  margin: 0 5px;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-btn:active {
  background-color: gray;
  color: whitesmoke;
  transition: background-color 0.2s ease;
}
